@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
*{
    margin:0;
    padding:0;
}

body{
    /*background-color: #fcf8ee;*/
    background-color: white;
}

#main-wrapper{
    width: 78%;
    padding: 1%;
    margin: 2% auto;
}


/*************** BANNER START ********************/

#Bannerlogo{
    color: black;
}

#banner{
    padding: 1% 10%;
    /*background-color: #f3ede1;*/
    background-color: #d5ded9;
    overflow: hidden;
    font-family: Tahoma;
    color: black;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 1px 1px #e3e8e5;
}

#banner a {
    text-decoration:none;
    color: black;
}
#banner a:visited {
    text-decoration:none;
    color: black;
}

#banner img{
    width: 100px;
    border-radius: 5px;
}

#banner ul{
    list-style: none; 
}
#banner li{
    color: black;
    font-size: 0.65em;
    float: left; 
    white-space:pre; 
    text-transform: uppercase; 
    margin-right: 5px; 
}

#banner li:before{
    content:"  /  "

}

#banner li:first-of-type:before{
    content:" "
}

#banner li a:hover{
    color:#878787
}

#info{
    margin-right: 2%;
    float:right;
    overflow: hidden;
    font-size: 1.5em;
    text-align: right;
    margin-top: 45px;
}
.Bannerlogo{
    font-size: 4em;
    display: inline;
    margin-left: 2%;
    color: black;
    font-family: Arial;
    font-weight: bold;
}
#logo{
    float:left;
    width: 30%;
}

/******************* BANNER END *****************************/
/********* QUEHEADER START ***********/

#queueHeader{
    //background-color: #9ba6b5;
    //padding: 2%;
    text-align: left;    
    //margin-bottom: 15px;
    overflow: hidden;
    font-family: Tahoma;
}

h1{
    padding-bottom: 5px;
}
#queueInfo{
    width: 97%;
    /*border-top:3px solid lightgray;
    border-bottom:3px solid lightgray;*/
    border: 1px solid lightgray;
    box-shadow: 0 1px 1px 1px #e3e8e5;
    margin-bottom:10px;
    padding: 1%;
    overflow: hidden;
    background-color: #F7F7F7;
}

#queueInfo p{
    float: left;
}

#queueInfo p{
    font-size: 1.3em; 
    color: black;
    font-family: sans-serif;
}
#queueInfo #accepted{
    background-color: #90ff46;
}
#queueInfo #mandatory{
    text-decoration: underline;
}

.queueButton {
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: white;
    color: #404245;
    font-family: verdana;
    font-weight: bold;
    cursor: pointer;
    float:right;
}

#queueButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    background-color:#468ccf;
}#queueButton:active {
    position:relative;
    top:1px;
}

/********** OVERLAY **********/

.simple_overlay {  
    display:none;
    z-index:10000;
    background-color:#c9d0de;
    width:800px;
    height: 600px;
    -moz-box-shadow:0 0 90px 5px gray;
    -webkit-box-shadow: 0 0 90px gray;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(http://jquerytools.org/media/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer; 
    height:35px;
    width:35px;
}

#queueForm{
    padding: 20px;
    width: 800px;
    font-family: sans-serif;
}

#queueForm h1{
    padding-left: 153px;
    padding-bottom: 20px;
    font-size: 35px; 
    color: #445668; 
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #f2f2f2;
}

#queueForm #left{    
    float: left;
    width: 400px;    
}

#queueForm label:not(.checkboxLabel){
    width: 100px;
    margin: 8px 10px 0 20px; 
    float: left;
    text-align: right;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 16px; 
    color: black; 
    text-shadow: 0px -1px 0px #334f71;
}

#queueForm #right{
    float: right;
    width: 400px;    
    margin-top: 63px;;
}

#queueForm select:not(#selectedUserList){
    width: 210px;
    height: 35px;
    -webkit-appearance: none; 
    background: url('./arrow.jpg') no-repeat right #f8f8f8;
    padding: 5px 15px;      
    overflow: hidden;
    font-family: sans-serif; 
    font-size: 16px; 
    color: black; 
    text-shadow: 0px 1px 0px #f2f2f2; 
    cursor: pointer;
}

#queueForm #selectedUserList{
    width: 210px;
    height: 35px;
    -webkit-appearance: none; 
    padding: 5px 15px;      
    overflow: hidden;
    font-family: sans-serif; 
    font-size: 16px; 
    color: black; 
    text-shadow: 0px 1px 0px #f2f2f2; 
    cursor: pointer;
}

#queueForm #checkboxes{
    border: 1px solid;
    width: 200px;
    padding: 4px;
    height: 150px;
    cursor: pointer;    
    overflow-y: auto; 
    overflow-x: hidden; 
}

#queueForm .checkboxLabel{
    cursor: pointer;
    padding-left: 19px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-right: 90px;
    border-radius: 3px;
}

#queueForm input[type='checkbox'] {
    width: 1.5em;
    height: 1.5em;
}

#queueForm .boxes{
    float: left;
    cursor: pointer;
}

#queueForm ul{
    margin: 0px;
    padding: 7px;
    display: inline-block;   
    height: 140px; 
    background-color: #f8f8f8;
    list-style-type: none;
    width: 180px;
    font-family: sans-serif; 
    font-size: 16px; 
    color: black; 
    text-shadow: 0px -1px 0px #f8f8f8;
    border-radius: 7px;
}

#queueForm li{
    padding: 5px;
    width: 120px;
}

#queueForm select, #queueForm #checkboxes, #queueForm textarea{
    margin-bottom: 10px;
    border-radius: 5px;    
    background-color: #f8f8f8;
    font-size: 16px; 
    color: black; 
    border: none; 
    border: 1px solid #ccc;
}

#queueForm textarea{
    height: 65px;
    width: 200px;
    font-size: 15px;
    font-family: sans-serif;
    padding: 5px;
}

#queueForm textarea:focus {
    background: #F0F8FF;
}

#queueForm ::-webkit-scrollbar {
    width: 12px;
}
#queueForm ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
#queueForm ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#queueForm .button{
    font-family: sans-serif; 
    font-size: 12px; 
    color: #f2f2f2; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #334f71; 
    width: 60px; 
    height: 32px; 
    -moz-box-shadow: 0px 0px 5px #999;
    box-shadow: 0px 0px 5px #999;
    border: 1px solid #556f8c;
    background: #728eaa;
    cursor: pointer;
    margin: 6px;
}

#queueForm img{
    width: 220px;
}

/********* OVERLAY END *********/
/********* QUEUE START **********/

.queueContainer {
    /*height: 100px;*/
    width:100%;
    /*border:1px solid #d3d3d3;*/
}
.queueContainer div {
    width:100%;
}
.queueContainer .queueRulesHeader {
    /*background-color:#d3d3d3;*/
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.queueRulesContent {
    display: none;
    padding : 5px;
}

#queue{
    width: 97%;
    padding: 1%;
    clear: both;
    height: 650px;
    font-family: arial;
    overflow-y: scroll;
    border: 1px solid lightgray;
    box-shadow: 0 1px 1px 1px #e3e8e5;
}

#queueTable{
    font-size: 0.90em;
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%;
}

#queueTable tr:nth-child(odd) {
    background: #F7F7F7;
}

#queueTable tr:nth-child(even) {
    background: #FFFFFF;
}

#queueTable th, #queueTable td{
    padding-left: 5px; 
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    vertical-align: top;    
}

#queueTable th, #queue{
    background-color: #F7F7F7;
}

#queueTable td{
    height: 35px;
}

/********* QUEUE END **********/

#footer{
    text-align: center;
    margin-top: 1%;
    background-color: #d5ded9;
    border-top: 1px solid gray;
    box-shadow: 0px -1px 1px 1px #e3e8e5;
}

#footer p{
    padding-top: 1%;
    padding-bottom: 1%;
}

/*********************** NAVIGATION START *******************************************/
#navigation{
    width: 16%;
    padding: 1%;
    background-color: #F7F7F7;
    float: left;
    font-family: "Open Sans", sans-serif;
    border: 1px solid lightgray;
    box-shadow: 0 1px 1px 1px #e3e8e5;
}

#navigation #nav-nav, #navigation #nav-fag{
    border-bottom: 1px dashed lightgray;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

#navigation li{
    margin-left: 5%;
}

#navigation a {
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 2px #d5ded9;
}

.navigationHeading{
    font-weight: bold;
}

#navigation a:hover, li:hover {
    color: #7F5137;
}

#navigation ul{
    list-style-type: disc;
    margin-left: 8%;
}

#main-body{
    float: right;
    width: 78%;
}

#changePasswordWrapper{
    width: 100%;
    background-color: #f8f8f8;
    padding: 1%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 1px #e3e8e5;
}

#changePasswordWrapper .controller{
    display: block;
    margin-bottom: 1%;
}

#changePasswordWrapper .button{
    width: 100px;
    height: 30px;
    display: block;
    margin-bottom: 1%;
}

.errorMessageP{
    color: red;
    font-weight: bold;
}


/*********************** Admin START ***********************/
#adminSubjectList{
    width: 80%;
    height: 175px;
    float: left;
}

#adminSubjectForm{
    width: 18%;
    float: right;
}

#adminAddUserForm{
    width: 18%;
    float: right;
}

.scroll{
    overflow-y: scroll;
}

#adminUserList{
    width: 80%;
    height: 370px;
    float: left;
}

.aminUserTableCell{
    width: 17%;
    padding: 1%;
}
.adminUserTableEditCell{
    width: 20%;
    padding: 1%;
}

.adminUserHeading{
    text-align: left;
    padding: 1%;
}

#adminUserTable{
    width: 100%;
    border-collapse: collapse;
}

#adminUserTable tr:nth-child(odd) {
    background: #F7F7F7;
}

#adminUserTable tr:nth-child(even) {
    background: #FFFFFF;
}

#adminWrapper .controller{            
    margin-bottom: 1%;
    padding: 0.3%;
    width: 190px;
    height: 25px;
    border-radius: 3px;
    display: block;
}

#adminWrapper .button{
    width: 100px;
    height: 30px;
    display: block;
    margin-bottom: 1%;
    background-color: white;
    width: 100px;
    height: 35px;
    margin-top: 15px;
}

.multiSelect{
    display: block;
    width: 200px;
    margin-bottom: 1%;
}

#adminWrapper{
    width: 100%;
    background-color: #F7F7F7;
    padding: 3%;
    border: 1px solid lightgray;
    box-shadow: 0 1px 1px 1px #e3e8e5;
    font-family: Arial;
}  

#subjectTable{
    width: 100%;
    border-collapse: collapse;
}

#subjectTable tr:nth-child(odd) {
    background: #F7F7F7;
}

#subjectTable tr:nth-child(even) {
    background: #FFFFFF;
}

.subjectHeader{
    text-align: left;
}

.subjectCell{
    width: 23%;
    padding: 1%;
}

.editLinkPadding{
    padding-left: 5%;
}

.adminSection{
    border-bottom: 1px dashed lightgray;
    padding-bottom: 2%;
    margin-bottom: 2%;
    overflow: hidden;

}

#adminTabs{
    list-style: none;
}

#adminTabs li{
    display: inline;
}

.adminLinks{
    color: black;
}

.adminLinks:hover{
    color: #7F5137;
}

.teacherbuttons{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background-color:#bddbfa;
    -webkit-border-top-left-radius:42px;

    border-top-left-radius:42px;
    -webkit-border-top-right-radius:42px;

    border-top-right-radius:42px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:42px;
    -moz-border-radius-bottomleft:42px;
    border-bottom-left-radius:42px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:35px;
    width:35px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;

    cursor: pointer;
}
.teacherbuttons:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color:#80b5ea;
}.teacherbuttons :active {
    position:relative;
    top:1px;
}

#teacherQueue td{
    cursor: pointer;
}

.selected{
    color: gray;
}

#rows:hover{
    color:gray;
}

/****************************Overview Start*************************/

#overview-header{
    background-color: #f8f8f8;
    padding: 2%;
    text-align: left;    
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 5px;    
    background-color: #f8f8f8;
    font-size: 16px; 
    color: black; 
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 1px #e3e8e5;
}
#overview-list{
    overflow: hidden;
    padding: 0px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 1px #e3e8e5;
    margin: 0px;
    margin-bottom: 10px;
}
#overview-table{
    background-color: #F0F0F0;
    border-collapse: collapse;
    border:none;
    width: 100%;
}
#overview-table td{
    padding: 4px;
}
.highlight-whole {
    background-color: #74e571 !important;
}
.highlight-one {
    color: limegreen !important;
}
.overviewContainer .overviewRulesHeader {
    /*background-color:#d3d3d3;*/
    padding: 4px;
    cursor: pointer;
}
.overviewRulesContent {
    display: none;
    padding : 5px;
}
#overview-subject{
    font-weight: bold
}
#overview-tasks{
    float: right;
}
#overview-tasktable td{
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 1px #e3e8e5;
    padding:0px;
    margin-bottom: 0px;
}

#overview-tasktable td p{
    display: inline;
    padding: 2px;
}